@import "../../styles/mixins";


.AddPhotosModal {

  &__content {
    max-height: calc(80vh - 239px);
    overflow-y: auto;
  }

  &__file {
    &-container {
      align-items: center;
      border-bottom: 1px solid var(--color-imgur--gray--light);
      border-top: 1px solid var(--color-imgur--gray--light);
      display: flex;
      flex-direction: row;
      height: 80px;
      width: 100%;
    }
    &:first-of-type {
      &-container {
        border-top: none;
      }
    }
    &:last-of-type {
      &-container {
        border-bottom: none;
      }
    }
    &-details {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin: 8px;
    }

    &-preview {
      height: 64px;
      margin: 8px;
      width: 64px;
    }

    &-delete {
      @include is-a-button;
      height: 32px;
      margin-left: auto;
      margin-right: 8px;
      width: 32px;

    }

  }

  &__upload {
    @include is-a-button;

    height: 48px;
    position: sticky;
    top: 0;
    width: 48px;
  }

  &__upload-container {
    background-color: var(--color-imgur--background);
    padding: 16px 0;
    position: sticky;
    top: 0;
    width: 100%;
  }
}
