.Dropdown {
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  margin-bottom: 24px;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  &__content {
    background-color: var(--color-imgur--gray--light);
    border-radius: 4px;
    display: none;
    font-weight: 400;
    padding: 8px 24px;
    position:absolute;
    right: 0;
    &--open {
      display: block;
    }
  }

  &__option {
    height: 12px;
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__text {
    padding: 4px 8px;
  }
}
